{% extends "index.html" %}


{% block content %}
   <!--  <h1>{{ name }}</h1> -->

 <div class="col-lg-8 panel panel-default">
        <h2 class="panel-heading">Content</h2>

       

<!-- //////////////////////////////////////////// -->

<div class="col-lg-12">
     {% if products  %}
        {% for product in products %}
         <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="image text-center">
                    <img src="/assets/images/product.jpg" width="100px">
                </div>
                <div class="name text-center">
                   <a href="product/{{ product.url }}">{{ product.name }}</a>
                </div>
                <div class="price">                     
                    <span class="label label-info"> {{ product.price }} грн.</span>                    
                </div>  
            </div>
         </div>

        {% endfor %}
    {% endif %}

</div>

<!-- ///////////////////////// -->

</div>

    
{% endblock %}


{% block sidebar %}

<div class="col-lg-4 panel panel-default">
                <h2 class="panel-heading">Sidebar</h2>
                

    <ul>
    {% for category in categories %}
        <li><div class="col-lg-4"><a href="catalog/{{ categoryurl.url }} ">{{ category.name }}</a> 
        	</div>
        </li>
  	</ul>  
    {% endfor %}
                
</div>


{% endblock %}

