<!DOCTYPE>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <link href="/admin/theme/assets/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/admin/theme/assets/css/flat-ui.min.css" rel="stylesheet">
        <link href="/admin/theme/assets/css/css.css" rel="stylesheet">
        <link rel="shortcut icon" href="../assets/img/favicon.ico">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/product.css">

    </head>
    <body>
            <header class="header-navbar clearfix">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class=" ">
                            <a href="/" class="">
                                Главная
                            </a>
                        </li>

                        <li class="dropdown ">
                        <a href="/catalog" class="dropdown-toggle">
                                Catalog
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="/delivery" class="dropdown-toggle">
                                Доставка
                            </a>
                           
                        </li>
                            <li class="dropdown">
                            <a href="/pay" class="dropdown-toggle">
                                Оплата
                            </a>
                           
                        </li>
                          </li>
                            <li class="dropdown">
                            <a href="/contact" class="dropdown-toggle">
                                Контакты
                            </a>
                           
                        </li>
                        <li class="dropdown" >
                            <a href="/cart">
                                <img src="/theme/assets/images/basket1.png" width="40">                        
                                <p>Ваша корзина </p> 
                            </a>
                        </li>
                        <li class="dropdown" >
                            <a href="/cart">
                                <input class = 'bask' type="namber" name="basketnum" size="1*8" value = "{{ cart.total_amount }}" > 
                                товаров на сумму {{ cart.total_price }} грн.
                            </a>
                        </li>
                        
                               


<!--------- --> 
                           <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                Pages
                                <span class="caret"></span>
                            </a>
                            <span class="dropdown-arrow"></span>
                            <ul class="dropdown-menu">
                                <li class=" ">
                                    <a href="http://october/about" class="">
                                        About Us
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="http://october/contact" class="">
                                        Contact Us
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="http://october/pricing-table" class="">
                                        Pricing Table
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="http://october/services" class="">
                                        Services
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="http://october/signin" class="">
                                        Sign In
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="http://october/register" class="">
                                        Register
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="/delivery" class="dropdown-toggle">
                                        Доставка
                                    </a>
                           
                                </li>

                                <li class="dropdown">
                                    <a href="/pay" class="dropdown-toggle">
                                        Оплата
                                    </a>
                                   
                                </li>
                               
                               

                            </ul>
                        </li>
<!-------------->


                            
       

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

        <div id="content">
            {% block content %}

            {% endblock %}
        </div>

        <div id="sidebar">
            {% block sidebar %}

            {% endblock %}
        </div>

    </body>
    <script src="/admin/theme/assets/js/vendor/jquery.min.js"></script>
    <script src="/admin/theme/assets/js/flat-ui.min.js"></script>
</html>