{% extends "index.html" %}


{% block content %}
  

    <div id="books">
    	<p>Главная страница</p>

<!-- *********************** -->


<!-- ************************* -->


    </div>
{% endblock %}


{% block sidebar %}

<div class="col-lg-4 panel panel-default">
                <h2 class="panel-heading">Sidebar</h2>
                

    <ul>
    {% for category in categories %}

        <li><div class="col-lg-4"><a href="catalogclass/{{ category.category_url }} ">{{ category.name }}</a> 
            </div>
        </li>
    </ul>  
    {% endfor %}
                
</div>


{% endblock %}